* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
}

table, td {
    padding: 5px;
}


table {
    background-color:  lightgoldenrodyellow;
    color: darkgoldenrod;
    font-size: 0.7rem;
    width: 100%;
}

button {
    background-color: gold;
    padding: 5px;
    font-size: 1rem;
    color: lightyellow;
}


input {
    padding: 5px;
}


